.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/11813264_366567513541804_254320425904035093_n.jpg?oh=5768c38dd20d478a715fe080ad2d0e1d&oe=56F7AB45');
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:80px;
}

.jumbotron h1 {
  color: #FBFBFB;
  font-size: 60px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.jumbotron a {
  font-size: 15px;
  color: #FFFFCC;
}

.neighborhood-guides {
    background-color: #efefef
    border-bottom: 1px solid #dbdbdb
}

.neighborhood-guides h3 {
    color: #4B4D4E
    font-size: 20px
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top:50px;
    margin-bottom: 70px;
}

.neighborhood-guides p {
    font-size: 25px
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top:50px;
    margin-bottom: 70px;
}

.neighborhood-guides img {
    font-size: 0px
    margin-bottom: 0px
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

